<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/mainstyle.css"/>
	<link rel="stylesheet" href="./css/themes/base/jquery.ui.all.css">
	<script src="./js/jquery-1.6.2.min.js"></script>
    <script src="./js/calendar/WdatePicker.js"></script>
  <link rel="stylesheet" href="./css/demos.css">
    
    
<title>编辑传真任务</title>
<script>
//所有input 去空格
	function trim_all_input()
	{
		var inpus = document.getElementsByTagName("INPUT")
        for(var i=0; i<inpus.length; i++)
        {
            if(inpus[i].type=="text")
            {
               inpus[i].value =  inpus[i].value.replace(/(^\s*)(\s*$)/g,"");



            }
        }
		
	}
	function check()
	{
		 trim_all_input(); //所有input 去空格
        if ($('#max_line').val() == '')
		{
			alert('请输入完整并发线路数!'); 
		    return false;
		  
		}
		return true;
	}


	function goback(curpage)
	{
	    document.form2.action = '?action=list&curpage='+curpage;
		document.form2.submit();
	}
	


    </script>

<style type="text/css">
.redastgo1 {
	color: #F00;
}
</style>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="24" bgcolor="#353c44"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="2%" height="19" valign="bottom"><div align="center"><img src="images/tb.gif" width="14" height="14" /></div></td>
                <td width="98%" valign="bottom"><span class="STYLE10"> 编辑传真任务</span></td>
              </tr>
            </table></td>
            <td><div align="right"><span class="STYLE1">
              </span></div></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  
  <form name="form2"  id="form2"  method="post" action="?action=list&curpage=<% $curpage %>&id=<% $outfaxtask.decode_id %>">
  </form>
  
 <form name="form1"  id="form1"  method="post" action="?action=edit_post&curpage=<% $curpage %>">
        <input name="id" id="id" type="hidden"   value="<% $outfaxtask.decode_id %>" />
     
  <tr>
    <td><table width="763" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
     
    <tr>
            <td width="48%" height="18" align="right" bgcolor="#FFFFFF"><span   class="STYLE1" >代理名称</span></td>
            <td width="52%" height="18" bgcolor="#FFFFFF"><span class="STYLE7">
              <input name="acctname" id="acctname" type="text" class="STYLE1" style="height:18px; width:120px;" size="30"    disabled="disabled"  value='<% $outfaxtask.acctname %>' />
            </span></td>
          </tr>
       
          <tr>
            <td height="18" align="right" bgcolor="#FFFFFF"><span   class="STYLE1" >任务名称</span></td>
            <td height="18" bgcolor="#FFFFFF"><span class="STYLE7">
              <input name="task_name" id="task_name" type="text" class="STYLE1" style="height:18px; width:120px;" size="30"    disabled  value='<% $outfaxtask.task_name %>' />
            </span></td>
          </tr>
          
          <tr>
            <td height="18" align="right" bgcolor="#FFFFFF"><span class="STYLE1">状态</span></td>
            <td height="18" bgcolor="#FFFFFF" class="STYLE4"><span class="STYLE1">
              <select name="enable" id="enable"  >
                <option  value="1"  <% if $outfaxtask.enable eq '1'  %> selected="selected" <%/if%> > 开启 </option>
                <option  value="0"  <% if $outfaxtask.enable eq '0'  %> selected="selected" <%/if%> > 暂停 </option>
              </select>
            </span></td>
          </tr>
          <tr>
            <td height="18" align="right" bgcolor="#FFFFFF"><span class="STYLE1">重拨次数</span></td>
            <td height="18" bgcolor="#FFFFFF" class="STYLE4"><span style="STYLE7">
              <select size="1" name="trycall_count" >
                <option value="0" <%if $outfaxtask.trycall_count eq '0' %>selected<%/if%> >不重试</option>
                <option value="1" <%if $outfaxtask.trycall_count eq '1' %>selected<%/if%> >重试1次</option>
                <option value="2" <%if $outfaxtask.trycall_count eq '2' %>selected<%/if%> >重试2次</option>
                <option value="3" <%if $outfaxtask.trycall_count eq '3' %>selected<%/if%> >重试3次</option>
              </select>
            </span></td>
          </tr>
          <tr>
            <td height="18" align="right" bgcolor="#FFFFFF"><span class="STYLE1">并发设置</span></td>
            <td height="18" bgcolor="#FFFFFF" class="STYLE4"><span class="STYLE7">
              <input name="max_line" id="max_line" type="text" class="STYLE1" style="height:18px; width:120px;" size="30"    value='<% $outfaxtask.max_line %>' />
            </span></td>
          </tr>
          <tr>
            <td height="18" align="right" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="18" bgcolor="#FFFFFF" class="STYLE4">&nbsp;</td>
          </tr>

          <tr>
            <td height="18" colspan="3" align="center" bgcolor="#FFFFFF">
              
              <input type="submit"  class="STYLE1"   name="submitbtn" id="submitbtn"   onClick="return check()" value=" 确认提交 ">
              <input type="button"  class="STYLE1"   name="btn2" id="btn2"   onClick=" goback('<% $curpage %>','<% $agent_id %>')" value=" 取消返回 "></td>
          </tr>
     
        </table>
  </form>
        </td>

      </tr>
    </table></td>
  </tr>

  <tr>
    <td height="30">&nbsp;</td>
</tr>
</table>
</body>



<script>
 
		 $("input:text,input:password,textarea").focus(function(){
			 if (this.value == '请输入') this.value = '';
			 $(this).css("background","#a8c7ce");
			 }).blur(function(){
				 $(this).css("background","#FFF");
			 }); 
</script>    

</html>
