<DIV id="maincon_c_l">
<H1 id="maincon_c_l_h1">
<A href="?action=user_main">我的帐户首页</A></H1>
<UL>
  <LI class="account_btn_on13"><A href="#">推荐赚话费</A> <IMG border="0" src="images/account/hot.jpg"></LI>
</UL>
<H2><SPAN id="left_title1">信息查询</SPAN></H2>
<UL id="left_menu_one">
  <LI class="account_btn_on0"><A href="?action=calllist">通话记录</A></LI>
  <LI class="account_btn_on1"><A href="?action=ratepackage">我的套餐</A></LI>
  <LI class="account_btn_on3"><A href="?action=voucherlog">充值记录</A></LI>
</UL>
<H2><SPAN id="left_title2">业务办理</SPAN></H2>
<UL id="left_menu_two">
  <LI class="account_btn_on5"><A href="?action=voucher">充值卡充值</A></LI>
  <!--
  <LI class="account_btn_on6"><A href="#">神州行充值卡充值</A></LI>
  <LI class="account_btn_on7"><A href="?action=alipay">支付宝充值</A></LI>
  -->
  <LI class="account_btn_on8"><A href="?action=callback">网页回拨</A></LI>

 </UL>
<H2><SPAN id="left_title2">帐户管理</SPAN></H2>
<UL id="left_menu_three">
  <LI class="account_btn_on15"><A href="?action=changepwd">修改帐户密码</A></LI>
  <LI class="account_btn_on16"><A href="?action=bindtel">绑定手机号码</A></LI>
  <LI class="account_btn_on17"><A href="?action=speeddial">快捷拨号</A></LI>
</UL>
</DIV>