<DIV id=maincon>


<DIV id=maincon_l>

<DIV id=recommended_pay>
<H3>业务办理</H3>
<UL>
  <LI><A href="index.php?action=pay">全天套餐</A> <IMG border=0 
  alt=强烈推荐 src="images/pay/hot.jpg"> </LI>
  <LI><A href="index.php?action=pay">闲时套餐</A> </LI>
<!--  
  <LI><A href="http://www.Astgo.com/pay/biz.do?id=19">手机套餐</A> <IMG border=0  alt=最新推出 src="images/pay/new_ino.jpg"> </LI>
-->  
  </UL></DIV>
<DIV id=other_pay>
<H3>帐户充值</H3>
<UL>
  <LI><A href="index.php?action=pay_balance">网上银行充值</A> </LI>
  <LI><A href="index.php?action=pay_balance">支付宝</A> </LI>
 </LI></UL></DIV><!--<div style="text-align: left; padding-top: 2px; padding-left: 6px;"><a href="http://www.voipmarket.cn/index.php?gOo=goods_search_list.dwt&gcat=40" target="_blank"><img src="http://image3.Astgo.com:8181/pay/image/buy-machine.jpg"></a></div> -->
<STYLE>LI.pay_redstyle A:link {
	COLOR: #ff5500
}
LI.pay_redstyle A:visited {
	COLOR: #ff5500
}
LI.pay_redstyle A:hover {
	COLOR: #ff5500
}
</STYLE>

</DIV>